*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    max-width: 100%;
}
.svg{
    position: relative;
    width: 100%;
    /* height: 100vh; */
}
.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1000px 100px;
    animation: animate 4s ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.25s);
    filter: invert(23%) sepia(7%) saturate(3832%) hue-rotate(470deg) brightness(81%) contrast(123%);
}

#wave1{
    z-index: 1000;
    opacity: 1;
    background-position-x: 400px;
}
#wave2{
    z-index: 999;
    opacity: 0.5;
    background-position-x: 300px;
}
#wave3{
    z-index: 998;
    opacity: 0.2;
    background-position-x: 200px;
}
#wave4{
    z-index: 999;
    opacity: 0.7;
    background-position-x: 100px;
}

@keyframes animate {
    0%,100%
    {
        transform: translateY(0px);
    }
    50%
    {
        transform: translateY(10px);
    }

}
/* h2{
    padding-top: 20px;
    padding-left: 10%;
} */
.sec{
    background-color: #013337;
    color: white;
    padding-left: 10%;
    padding: 10% 0 10% 0;
}
.abtCrdTxt{
    margin-bottom: 0px;
    padding: 0 10%;
}

.icons{
    height: 10vh;
    width: 8vh;
    padding-top: 4%;
}
.abtContainer{
    max-width: 100%;
    padding: 0;
}
.abtCard{
    background-color: transparent;
    /* background-color: rgb(46, 165, 83); */
    border: 0;
    padding-bottom: 2%;
    height:450px;
    margin-bottom: 5%;
}

.card-text{
    text-align: left;
}

/* trans check fade in */

.elementToFadeInAndOut {
    right: -300px;
    animation: fadeinout 4s linear forwards, slide 1s forwards;
    animation-delay: 200ms;
}

@keyframes fadeinout {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

@keyframes slide {
    100% { right: 0; }
}

.row1{
    margin-left: -20px;
    margin-right: -20px;
}

.aboutHeading{
    margin-top: 36%;
    margin-bottom: 15%;
}

.revelementToFadeInAndOut {
    left: -300px;
    animation: fadeinout 1s linear forwards, slide 0.5s forwards;
    animation-delay: 50ms;
}

@keyframes fadeinout {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

@keyframes slide {
    100% { left: 0; }
}

@media(max-width: 576px){
.sec{
    padding : 10% 0 15% 10%;
}
.aboutHeading{
    margin-top: 0;
    /* margin-bottom: 0; */
}
.card1{
    padding-left: 18%;
    padding-bottom: 10%;
    
}
}

.spacing{
    height: 20px;
}

.outer{
    position: absolute;
width: 125px;
height: 125px;
border-radius: 50%;
background: linear-gradient(142.84deg, #2C40F3 14.17%, #FA04FF 74.53%);
}

.box{
    position: absolute;
    width: 290.2px;
    height: 345.14px;
    background: linear-gradient(152.52deg, rgba(0, 0, 0, 0.35) 7.55%, rgba(0, 0, 0, 0.03) 91.19%);
    box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    transform: rotate(-0.65deg);
    margin-top: 30.47px;
    margin-left: 35.54px;
}

.outer-right{
    position: absolute;
    width: 105.25px;
    height: 105.25px;
    border-radius: 50%;
    background: linear-gradient(180deg, #FF7A00 0%, rgba(221, 49, 11, 0.99) 100%);
    right: 0%;
    margin-right: 22%;
    margin-top: -4%;
}

.outer-bottom{
    position: absolute;
    width: 105.25px;
    height: 105.25px;
    border-radius: 50%;
    bottom: 0%;
    /* margin-bottom: 12%; */
    background: linear-gradient(180deg, #FC0000 0%, rgba(55, 2, 2, 0.84) 100%);
}

