/* Settings - feel free to play with these */
$overlay_opacity: 0.3;
$overlay_pattern: 'https://d3k5xyayaartr5.cloudfront.net/_assets/pattern-overlays/patterns/black-medium-checks.png'; // Grab the url of a png from here - http://html5backgroundvideos.com/pattern-overlays/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

/**
 * This part should be set separately for each video
 * if there are multiple videos in your site.
 * I.e. '.demo-video-wrapper' is the name of this particular video
 */
.demo-video-wrapper {
	background-image: url(https://d3k5xyayaartr5.cloudfront.net/_assets/home-video/beach-waves-loop.jpg);
}

/* Video overlay and content */
.video-overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	pointer-events: none; /* Allows right click menu on the video */
	background: url($overlay_pattern) left top repeat;
    z-index: 1;
  opacity: $overlay_opacity;
}
.video-hero--content {
	position: relative;
	text-align: center;
	color: #FFF;
  /* margin: 150px 0; */
	text-shadow: 0 0 5px rgba(0,0,0,0.4);
}
.video-hero--content h2 {
	font-size: 34px;
	margin: 0 0 10px;
}
.video-hero--content p {
	font-size: 20px;
	margin: 0;
}

/* Other stuff */
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #666;
}
a {
	text-decoration: none;
	color: #a46497;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.page-width {
	/* width: 92%;
	max-width: 960px; */
	margin: 0 auto;
}
#header {
	background: #2c2d33;
	padding: 2em 0;
}
#header a {
	color: #FFF;
}
/* .title {
	display: block;
	font-weight: bold;
	font-size: 18px;
} */
.subtitle {
	display: block;
	font-weight: normal;
	font-size: 15px;
	color: #959699;
}
a:hover .subtitle {
	color: #FFF;
}
#site-title {
	float: left;
	margin: 0;
}
#content {
	padding: 40px 0;
}


/* CSS from jQuery Background Video plugin */
/**
 * Set default positioning as a fallback for if the plugin fails
 */
.jquery-background-video-wrapper {
	position: relative;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	    	background-size: cover;
}
.jquery-background-video {
	position: absolute;
	/* min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto; */
    width: 100%;
	top: 50%;
	left: 50%;
	-o-object-fit: contain;
	   object-fit: contain;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	     -o-transform: translate(-50%,-50%);
	    	transform: translate(-50%,-50%);
}
/**
 * Fade in videos
 * Note the .js class - so non js users still
 * see the video
 */
.js .jquery-background-video {
	opacity: 0;
	-webkit-transition: opacity 300ms linear;
			transition: opacity 300ms linear;
}
.js .jquery-background-video.is-visible {
	opacity: 1;
}

/**
 * Pause/play button
 */ 
.jquery-background-video-pauseplay {
	position: absolute;
	background: transparent;
	border: none;
	box-shadow: none;
	width: 20px;
	height: 20px;
	top: 15px;
	right: 15px;
	padding: 0;
	cursor: pointer;
	outline: none !important;
}
.jquery-background-video-pauseplay span {
	display: none;
}
.jquery-background-video-pauseplay:after,
.jquery-background-video-pauseplay:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transition: all .3s ease;
			transition: all .3s ease;
}
.jquery-background-video-pauseplay.play:before {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid #FFF;
}
.jquery-background-video-pauseplay.pause:before,
.jquery-background-video-pauseplay.pause:after {
	border-top: 10px solid #FFF;
	border-bottom: 10px solid #FFF;
	border-left: 5px solid #FFF;
}
.jquery-background-video-pauseplay.pause:after {
	left: 10px;
}
/* #bgVideo{
    width: 100%;
} */

/* .nav-controls:hover {
	color: darkgreen;
}

.nav-controls a {
	display: inline-block;
	list-style: none;
	text-decoration: none;
	color: #d2f1e1;
	transition: opacity 0.125s linear;
	font-size: 0.8em;
}

.nav-controls a:hover {
	color: darkgreen;
	text-decoration: underline;
}

a:visited {
	color: inherit;
	text-decoration: none;
}
.nav-container {
	height: 58px;
	width: 100%;
	position: fixed;
	color: black;
	letter-spacing: 0.025em;
	background-color: grey;
	opacity: 0.7;
	transition: background-color 0.2s linear;
}
.nav-container.solid-nav {
	background-color: rgba(0, 0, 0, 0.7);
	transition: background-color 0.2s linear;
}
.nav-container .nav-row {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 18px;
}
.nav-container .nav-row .nav-logo {
	display: inline-block;
	font-weight: 900;
}
.nav-container .nav-row .nav-controls {
	margin-left: 33%;
	margin-top: -2.5%;
}
.nav-container .nav-row .nav-controls a {
	padding-left: 50px;
}
.nav-user {
	padding: 5px 5px 5px 5px;
	float: right;
	margin-top: -2.8%;
	background-color: transparent;
	color: white;
	margin-right: -3%;
}

.logo-nav {
	width: 4em;
	height: 4em;
	position: fixed;
	margin-top: -3.5%;
	margin-left: -2%;
	padding: 3px 3px 3px 3px;
} */

@font-face {
    font-family: 'Product Sans';

    src: url('./assets/fonts/Product\ Sans\ Bold.ttf') format('truetype');
}
.logo-svg{
    height: 30vh;
    margin-top: 15%;
}

.primary-title{
    font-family: 'Product Sans';
    font-size: 3em;
    font-weight: 800;
    margin-top: 2%;
}
.secondary-title{
    font-family: 'Product Sans';
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 15%;
}
.logo-nav{
    height: 12vh;
}
.user{
    margin-bottom: -1%;
    font-size: 7vh;
    color: #fff;
}
.nav-content{
    margin-left: 20vw;
}
.elements{
    margin: 0 3vw;
}
/* .hero-content {

    margin-top: 15%;

} */
.elements a{



    color: #d2f1e1;

    transition: opacity 0.125s linear;

    font-size: 0.8em;

}

.container100{
    /* padding-left: 0;
    margin-left: -14%; */
    width: 100%;
}



/* .elements a:hover {



    color: darkgreen;

    text-decoration: underline;

    

}

.primary-title {

    margin-top: -12%;

    margin-left: -1%;

    color: #d2f1e1;

    font-size: 5em;

    text-align: left;

    font-family: 'Product Sans';

    /* text-shadow: 10px 10px rgba(0, 0, 0, 0.35); */

/* }



.secondary-title {

    font-size: 3em;

    color: #d2f1e1;

    font-family: 'Product Sans';

    text-align: left;

    margin-left: -1%;

}  */

@media (min-width: 576px){
    .container100{
        width: 100%;
        max-width: 100%;
    }
}